
* {
    font-family: "Glegoo", Helvetica, sans-serif;
    color: white;
    font-size: 1rem;
}

body {
    background-color: #D3D3D3;;
}

header {
    background-color: #4b4b4b;
}

.main-title {
    font-family: "Geo";
    font-size: 5rem;
    font-weight: bold;
    color: black;
    margin-left: 3.2rem;
    margin-top: 1.6rem;
}

.tabs {
    margin-left: 2rem;
}

.tabs p {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin: 0rem;
    cursor: pointer
}

.tabs p:hover {
    color: black;
    background-color: #d3d3d3;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.login-buttons {
    width: 9rem;
    height: 3rem;
    align-self: center;
    border: none;
    margin-top: 1.6rem;
}

.sign-up {
    background-color: #c45e5e;
}

.sign-up:hover {
    color: black;
    background-color: #d3d3d3;
}

.log-in {
    background-color: #3b3b3b;
    margin-right: 1.6rem;
}

.log-in:hover {
    color: black;
    background-color: #d3d3d3;
}

button {
    margin: 0.8rem;
}

main {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    background-color: white;
}